# TERRAFORM

# ami
ami_creation/terraform/.terraform/
ami_creation/terraform/terraform.tfstate*

# elasticsearch
elasticsearch/terraform/.terraform/
elasticsearch/terraform/terraform.tfstate*

# webserver
webserver/terraform/.terraform/
webserver/terraform/terraform.tfstate*

# prowler
prowler/terraform/.terraform/
prowler/terraform/terraform.tfstate*

prowler/.venv/
prowler/bin/
prowler/lambda/*.pyc
